.logo p {
  font-family: 'Rubik Burned', cursive;
  color: rgb(236, 177, 236);
  font-size: 30px;
  cursor: pointer;
}

input {
  background-color: rgb(27, 27, 27);
  color: #fff;
}

input:focus {
  background-color: black !important;
  color: #fff !important;
}

@media screen and (max-width:568px)
{
  .logo p {
    font-size: 25px;
  }

  .search-bar {
    justify-content: center !important;
  }

  input {
    width: 75% !important;
  }
}