<app-search (term)="searchGames($event)"></app-search>
<div class="container my-5">
  <div class="sortBy my-5 pt-5">
    <div class="sorted w-50 m-auto d-flex align-items-center">
      <label class="me-3">Sort By :</label>
      <select name="sort" class="form-select w-75" (change)="sortGames($event)">
        <option value=" ">Normal</option>
        <option *ngFor="let itemSort of sortList" value="-{{itemSort}}">{{itemSort}}</option>
      </select>
    </div>
  </div>

  <div *ngIf="isLoading" class="loading w-50 mt-3 m-auto text-center">
    <app-spinner></app-spinner>
  </div>

  <div *ngIf="!isLoading" class="row gy-4">
    <div *ngFor="let game of allGames" class="col-md-3">
      <div class="game">
        <div class="pic position-relative" routerLink="/details/{{game.id}}">
          <img *ngIf="game.background_image" [src]="game.background_image" class="w-100" alt="">
          <div *ngIf="!game.background_image" class="text d-flex justify-content-center align-items-center">
            <p>No Image</p>
          </div>
          <div class="layer position-absolute"><p>Click To Show More Details...</p></div>
        </div>
        <div class="content">
          <h5 class="my-3">{{game.name | cutTtile :3}}</h5>
          <div class="platform d-flex my-3">
            <img 
            *ngFor="let gamePlateform of game.parent_platforms"
            src="assets/image/{{gamePlateform.platform.slug}}.svg"
            alt=""
          >
          </div>
        </div>
        

      </div>
    </div>
  </div>
</div>